// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.variants-container {
  display: flex;
  flex-direction: column; 
}

.row-item {
  height: 30px;
  display: flex;
}

.row-item p {
  margin-right: 25px;
  width: 40px;
}

.variant_fields_wrapper {
  display: flex;
  padding-bottom: 15px;
}

.variant_field {
  padding-right: 20px;
}

.add_button {
  margin-top: 15px;
  height: 25px;
}

.generated_variants {
  margin-bottom: 20px;
}